#show-credentials-options {
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 9px rgba(60, 74, 84, .7);
  margin: 7px 9px 11px 9px;
  background-color: #F3F4F7;
}

.template-credentials-div {
  margin-bottom: 8px;
  cursor: pointer;
}
