#show-credentials-options {
  width: 360px;
  max-height: 224px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 9px rgba(60, 74, 84, .7);
  margin: 7px 9px 11px 9px;
  background-color: #F3F4F7;
}

#show-credentials-options-main {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

.template-credentials-div {
  margin-bottom: 8px;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}

input:focus {
  border: #2d65d6;
}

.show-credentials-options-main {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}

#show-credentials-options-footer {
  padding-bottom: 16px;
  padding-left: 24px;
  margin-top: 8px;
  text-align: center;
}
